p{
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #000;
    text-align: center;
}
h1, h2{
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
h3{
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    font-weight: bold;  
    color: #000;
    text-align: center;
}
h4{
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    font-weight: bold;  
    color: #000;
    text-align: center;
}
ul{
    text-align: center;
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #000;
}
li{
    text-align: center;
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #000;
    list-style-type: none;
}
.desk{
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    text-align: center;
    padding-inline: 100px;
}

* {
  /* Pour que les tailles soient correctes */
  box-sizing: border-box;
}

body {
  /* Pour coller le menu au bord, sans espace */
  margin: 0;
  z-index: 1;
}

.menu {
  /* Pour que le menu reste en place quand on scroll */
  position: fixed;
  /* Pour que le menu ne soit pas sur le texte et que ce dernier puisse être sélectionné */
  width: 0px;
}

main {
  /* Pour que le texte ne soit pas sous le menu */
  margin-left: 50px;
  width: 500px;
  text-align: justify;
}

#hamburger {
  /* Pour que la checkbox ne s'affiche pas */
  display: none;
}

#hamburger-logo {
  /* Pour que le curseur soit un pointeur */
  cursor: pointer;
  background-color: #B0E4E8;
  width: 200px;
  display: block;
  color: black;
  /* Pour que le menu hamburger s'affiche toujours */
  text-align: right;
  /* Pour que le menu hamburger soit "rangé" par défaut */
  transform: translateX(-119px);
  padding: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #B0E4E8;
  overflow: hidden;
  width: 200px;
  /* Pour que les liens soient "rangés" par défaut */
  transform: translateX(-200px);
}

#hamburger-logo,
nav {
  /* Pour qu'il y ait une animation */
  transition: 0.7s;
}

/* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
#hamburger:checked ~ #hamburger-logo,
#hamburger:checked ~ nav {
  /* Changement de la position pour afficher les menus */
  transform: translate(0);
}

nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-family: 'Tahoma', sans-serif;
}

nav a:hover {
  background: #E1EAEB;
}